/*
 *  Modal animations credits
 *  author: Jesse Couch
 *  https://codepen.io/designcouch/pen/obvKxm
 *
 *  Close icon animations credits
 *  author: Marvin van Kalsbeek
 *  https://codepen.io/MarvinVK/pen/ZYOdVa
 *
**/
html, body{
    font-family: "Roboto", sans-serif;
    max-width: 1920px;
}
.hidden{
    display: none;
}
.visible{
    display:block;
}
.blue{
    color: blue;
}
input:disabled,
input[disabled]{
    opacity: 0.3;
}
h1{
    display: block;
    float: left;
    width: 300px;
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin-top: 70px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #ff009a;
}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
footer{
    padding: 0px 30px 30px 30px;
    margin-top: -31px;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li{
    padding: 5px 0px;
    font-size: .815rem;
}
.footer-upper{
    margin-bottom: 55px;
}
.social{
    margin-bottom: 30px;
}
.contact{
    margin-bottom: 75px;
}
.contact h2{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 30px;
}
.contact a{
    display: block;
    border: 1px solid black;
    text-align: center;
    padding: 20px 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2rem;
    font-weight: 700;
}
.careers{
    margin-bottom: 75px;
}
.careers p{
    line-height: 1.5rem;
    margin-bottom: 30px;
}
.careers a, header a{
    display: inline-block;
    border-bottom: 3px solid blue;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2rem;
    padding-bottom: 4px;
}
header a{
    display: none;
    float: right;
    margin-top: 25px;
}
header a.contact-us{
    margin-right: 40px;
}
header a.get-hired{
    margin-right: 93px;
}
.careers a:first-child{
    margin-right: 20px;
}
.services h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 2rem;
}
.news, .services, .intro, header{
    padding: 30px;
}
.services{
    padding-top: 32px;
}
.news img{
    display: inline-block;
}
.left, .right{
    margin-bottom: 50px;
}
.news article div{
    display: inline-block;
}
.left .news-img{
    float: left;
    margin-right: 30px;
}
.left div{
    float: left;
}
.right .news-img{
    float: right;
    margin-left: 30px;
}
.right div{
    float: right;
}
.news article h3{
    margin-top: 0px;
}
.eyebrow{
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 60px;
}
.services .eyebrow{
    margin-bottom: 52px;
}
.news-img{
    margin-bottom: 30px;
    width: 100%;
}
.team-member{
    max-width: 700px;
    margin-bottom: 56px;
}
.team-member p{
    display: inline-block;
    float: left;
    margin-right: 50px;
}
.team-member img{
    width: 200px;
    display: inline-block;
    float: left;
}
.member-name{
    font-size: 1.5rem;
}
.sachin img{
    width: 185px;
}
#auki_logo{
    width: 100%;
}
.intro{
    overflow: hidden;
}
.rotated-nav{
    position: absolute;
    right: 40px;
    top: 400px;
    transform: rotate(90deg);
    display: none;
}
.rotated-nav a{
    font-weight: bold;
    word-spacing: .3rem;
}
.rotated-nav a::after{
    content: "\00bb ";
    font-size: 2rem;
    font-weight: 100;
    position: absolute;
    top: -12px;
    right: -35px;
}

/*
@media screen and (max-width: 900px) and (min-width: 600px) {}*/
@media screen and (min-width: 768px){
    h1{
        width: 500px;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    footer{
        margin-top: 0px;
    }
    header a {
        display: inline-block;
    }
    .rotated-nav{
        display: block;
        right: 0px;
        top: 350px;
    }
    #auki_logo{
        width: 275px;
    }
    .contact{
        padding-left: 83px;
    }
    .contact h2{
        font-size: 2.625rem;
        line-height: 3.5rem;
        margin-bottom: 75px;
        margin-top: 7px;
    }
    .contact a{
        width: 300px;
    }
    .careers-container{
        text-align: right;
        padding-right: 30px;
    }
    .careers{
        width: 285px;
        text-align: left;
        display: inline-block;
    }
    .social li {
        display: inline;
        padding: 5px 6px;
    }
    .social li:first-child{
        padding: 5px 6px 5px 0px;
    }
    .copyright li{
        display: inline;
        padding: 5px 10px;
    }
    .copyright li:first-child{
        padding: 5px 10px 5px 0px;
    }
    .social li:after{
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        -moz-border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        border-radius: 2.5px;
        background-color: blue;
        margin-left: 18px;
    }
    .social li:last-child:after{
        display: none;
    }
    .services h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .news, .services, .intro{
        padding: 40px 123px 40px 123px;
    }
    .services{
        padding-top: 29px;
    }
    .services .eyebrow{
        margin-bottom: 53px;
    }
    .news{
        padding-top: 28px;
    }
    .news article div{
         width: 300px;
    }
    .left, .right{
        margin-bottom: 100px;
    }
    .right div{
        text-align: right;
    }
    .news-img{
        width: 400px;
    }
    .team-member p{
        width: 350px;
    }
    #team-modal .quote{
        margin-bottom: 56px;
    }
    .team-member img {
        width: 300px;
    }
    .sachin img{
        width: 255px;
    }
}
@media screen and (min-width: 992px){
    h1 {
        float: right;
        font-size: 2rem;
        line-height: 3rem;
    }
    .rotated-nav{
        right: 40px;
        top: 400px;
    }
    .rotated-nav a::after{
        transition: all .25s ease-in-out;
    }
    .rotated-nav a:hover::after{
        right: -50px;
    }
    .contact {
        margin-bottom: 20px;
    }
    .contact h2 {
        font-size: 4.5rem;
        line-height: 6.12rem;
        margin-top: 46px;
    }
    .social{
        display: inline-block;
        float: right;
        margin-bottom: 0px;
    }
    .copyright{
        display: inline-block;
        float: left;
    }
    .news-img{
        margin-bottom: 0px;
    }
    .team-member p{
        float:left;
    }
    .team-member img{
        float: right;
    }
    .services{
        padding-top: 47px;
    }
    .services .eyebrow{
        margin-bottom: 50px;
    }
    .news{
        padding-top: 52px;
    }
    .services h3 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/* - - - - - - modal animations - - - - - - - - */

html.modal-active, body.modal-active {
    overflow: hidden;
}
#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}
#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}
#modal-container .modal-background .modal {
    background: white;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
}
#modal-container.reveal-me {
    transform: scale(1);
}
#modal-container.reveal-me .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.reveal-me .modal-background .modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.reveal-me + .site-content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.reveal-me.out {
    animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.reveal-me.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.reveal-me.out .modal-background .modal {
    animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.reveal-me.out + .site-content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.form-div{
    text-align: left;
}
#user-email{
    border: none;
    border-bottom: 1px solid blue;
    margin-bottom: 50px;
    width: 98%;
}
#project-description{
    border: 1px solid blue;
    margin-bottom: 47px;
    width: calc(98% - 2px);
}
.email-success{
    overflow: hidden;
    height: 0px;
    color: #ff009a;
    margin-bottom: 27px;
    margin-top: 0px;
}
.g-recaptcha{
    margin-bottom: 0px;
}
#submit-btn{
    background-color: #ff009a;
    padding: 12px 25px;
    color: white;
}
.footer-modal-para{
    margin-bottom: 50px;
}
.modal{
    overflow: auto;
}
.modal h2 {
    font-size: 3rem;
    line-height: 3.12rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    letter-spacing: .1rem;
    margin-bottom: 56px;
}
.footer-modals{
    text-align: left;
    margin: 26px 20px;
}
#hire-modal .position{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    border: 1px solid #bfbfbf;
    padding: 17px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    position: relative;
}
#hire-modal .position::after {
    content: "+";
    position: absolute;
    top: 16px;
    right: 22px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
#hire-modal .position.active::after{
    transform: rotate(315deg);
}
h3.quote{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
}
.footer-modals .sub-caption{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
.hire-item{
    max-height: 0px;
    overflow: hidden;
    padding: 0px 20px;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.position.active + .hire-item{
    max-height: 2000px;
}
.job-container{
    padding: 60px 0px;
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}
@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}
@keyframes scaleBack {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}
@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@media screen and (min-width: 768px) {
    #hire-modal h2{
        width: 556px;
    }
    .g-recaptcha{
        margin-bottom: 20px;
    }
    .modal h2{
        font-size: 3.625rem;
        line-height: 3.5rem;
        letter-spacing: .15rem;
    }
    .footer-modals {
        padding: 0px 30px 0px 90px;
    }
    .footer-modal-para {
        width: 416px;
    }
    .form-div {
        width: 416px;
    }
    h3.quote{
        font-size: 1.5rem;
        line-height: 2.125rem;
        width: 520px;
    }
    .footer-modals .sub-caption{
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }
    #hire-modal .position{
        width: 480px;
    }
    .hire-item {
        max-width: 480px;
    }
}
@media screen and (min-width: 992px) {
    .modal h2 {
        font-size: 4.5rem;
        line-height: 5.12rem;
        letter-spacing: 0.3rem;
        width: 520px;
    }
    .form-div {
        width: 520px;
    }
    #hire-modal h2{
        width: 556px;
    }
    #hire-modal .position{
        font-size: 2rem;
        width: 700px;
    }
    .footer-modals {
        padding: 0px 30px 0px 22%;
    }
    .footer-modal-para {
        width: 520px;
    }
    .hire-item {
        max-width: 700px;
    }
    .hire-item h4{
        font-size: 1.5rem;
    }
    .hire-mail{
        margin-bottom: 50px;
    }
    h3.quote{
        font-size: 2rem;
        line-height: 3.125rem;
        width: 520px;
    }
    #hire-modal .quote{
        margin-bottom: 75px;
    }
    .footer-modals .sub-caption{
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }
    #hire-modal h2, #team-modal h2{
        margin-bottom: 56px;
    }
}

/* - - - - close icon animations - - - - */

.close-button {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
}
.close-button.active {
    opacity: 1;
}
.close-button:before, .close-button:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 78%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: black;
    transition: all 0.25s ease-out;
}
.close-button:after {
    transform: rotate(-135deg);
}
.close-button:hover:before, .close-button:hover:after {
    transform: rotate(0deg);
}
@media screen and (min-width: 768px) {
    .close-button{
        top: 20px;
        right: 5px;
    }
    .close-button:before, .close-button:after {
        height: 2px;
        width: 24px;
        top: 50%;
        left: 50%;
    }
}

/* - - - - typogrpahy animations - - - - */

.intro .title{
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 12px;
    letter-spacing: 0.1rem;
    font-weight: 400;
}
.experience{
    margin-top: 16px;
}
.text-anim{
    overflow: hidden;
    height: 43px;
    margin-left: 3px;
}
.holder{
    position: relative;
    text-align: left;
    margin-top: -39px;
}
.holder h3{
    position: absolute;
    background-color: white;
    margin-left: -235px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: blue;
}
.animator{
    animation: slidein 7s;
}
@keyframes slidein {
    0% { margin-left:-235px; }
    15% { margin-left: -3px; }
    85%{ margin-left: -3px; }
    100% { margin-left:-235px; }
}
@keyframes slidein_tab {
    0% { margin-left:-360px; }
    15% { margin-left: -5px; }
    85%{ margin-left: -5px; }
    100% { margin-left:-360px; }
}
@keyframes slidein_desktop {
    0% { margin-left:-435px; }
    15% { margin-left: -5px; }
    85%{ margin-left: -5px; }
    100% { margin-left:-435px; }
}
@media screen and (min-width: 768px) {
    .intro .title {
        font-size: 4rem;
        margin-bottom: 13px;
    }
    .text-anim{
        height: 80px;
        margin-left: 5px;
    }
    .experience{
        margin-top: 19px;
    }
    .holder{
        margin-top: -57px;
    }
    .holder h3 {
        font-size: 4rem;
        margin-left: -360px;
    }
    .animator{
        animation: slidein_tab 7s;
    }
}
@media screen and (min-width: 992px) {
    .intro .title {
        font-size: 5rem;
        margin-bottom: 32px;
    }
    .experience{
        margin-top: 36px;
    }
    .holder{
        margin-top: -84px;
    }
    .holder h3 {
        font-size: 5rem;
        margin-left: -435px;
    }
    .animator{
        animation: slidein_desktop 7s;
    }
}
@media screen and (max-width: 350px){
    footer{
        padding: 30px;
    }
    h1 {
        width: 260px;
    }
    .intro .title {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 575px) {
    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    #modal-container .modal-background .modal {
        width: calc(100vw - 40px) !important;
    }
}